@media(max-width:1399px){
    .fs-1{
        font-size: 42px !important;
    }
    .tree-man{
        top: -140px;
        max-width: 75%;
    }    
    .game-head,.game-text{
        padding-right: 50px;
    }   
    .footer-gap{
        gap: 75px;
    }
    .blue-stone {
        bottom: -150px;
    }
    .start-50{
        left: 40% !important;
    }
}
@media(max-width:1199px){
    .nav-head{
        padding: 8px 50px;
    }    
    .navbar-nav{
        gap:60px;
    }
    .nav-text{
        padding-bottom: 20px;
    }
    .fs-1{
        font-size: 36px !important;
    }
    .mini-section{
        padding:80px 0;
    }    
    .mini-text-pad{
        padding-right: 70px;
    }
    .img-content{
        margin-top: 54px;
        gap: 16px;
    }
    .card-section{
        padding: 48px 0;
    }    
    .card{
        padding: 16px 12px;
    }    
    .card-title{
        font-size: 22px;
    }
    .gaming-section{
        padding-top: 120px;
        padding-bottom: 60px;
    }    
    .game-head,.game-text,.digital-text{
        padding-right: 0px;
    }
    .market-section{
        padding-bottom: 120px;
    }  
    .ball-size{
        width: 75%;
    }  
    .stone-ball{
        top: -50px;
    }     
    .economic-section{
        padding-bottom: 180px;
    }    
    .elfin-card{
        padding: 36px 48px 36px 30px;
    }
    .elfin-gap{
        gap: 10px;
        padding-bottom: 72px;
    }    
    .elfin-emoji-card{
        padding: 16px 14px 16px 30px;
    }    
    .comunity-gap{
        padding-bottom: 60px;
    }    
    .footer-top-section{
        padding: 20px 0;
    }   
    .tree-man{
        max-width: 40%;
        top: 40%;
    } 
    .ball-img{
        bottom: -50px;
    }    
    .mini-card-head{
        font-size: 20px;
    }
    .ball-stone{
        top: -100px;
    }    
    .footer-gap{
        gap:50px
    }
    .ball::before,.ball-stone-img::before,.stone-img::before,.blue-img::before{
        width:60px ;
        height: 60px;
        bottom: -14px;
        left: -10px;    
    }
    .start-50{
        left: 50% !important;
    }
    .group-emoji{
        width:70%;
    }
}
@media(max-width:992px){
    .navbar-toggler-icon{
        height: 20px;
        width: 20px;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .nav-head{
        padding: 6px 40px;
    }    
    .navbar-nav{
        gap:40px;
    }
    .nav-text{
        padding-bottom: 10px;
    }
    .navbar-brand{
        margin-bottom: 20px;
        width: 75%;
    }
    .btn-wallet{
        margin-top: 20px;
    }
    .nav-item.active::before{
        display: none;
    }
    .bag-icon{
        width: 12px;
        height: 12px;
    }
    .fs-1{
        font-size: 30px !important;
    }
    .mini-section{
        padding:70px 0;
    } 
    .mini-head{
        padding-bottom: 20px;
    }
    .mini-head-pad{
        padding-right:0;
    }
    .mini-text{
        font-size: 16px;
        text-indent: 0px;
        padding-bottom: 20px;
    }
    .explore-btn{
        font-size: 17px;
        padding: 10px 22px;
    } 
    .img-content{
        margin-top: 40px;
        gap: 14px;
    }  
    .user-para{
        font-size: 18px;
    } 
    .mini-group {
        position:static;
    }    
    .group{
        height: auto;
    }
    .group-doll{
        width: 100%;
        height: auto;
    }
    .card-section{
        padding: 42px 0;
    }   
    .card-row{
        gap: 15px;
    }     
    .card{
        padding: 14px 10px;
    }    
    .card-title,.mini-card-head{
        font-size: 19px;
    }
    .gaming-section{
        padding-top: 100px;
        padding-bottom: 50px;
    }    
    .mini-card-text,.mini-text-pad{
        padding-right: 0;
    }  
    .dragon{
        padding-left: 20px;
        padding-bottom: 20px;
    
    }
    .mini-card{
        gap: 18px;
        padding: 24px 20px;
    }   
    .ifo{
        padding: 100px 0;
        margin-bottom: 100px;    
    }       
    .ball-size{
        width: 50%;
    }    
    .market-section{
        padding-bottom: 90px;
    }  
    .digital-section{
        padding: 20px 0;
        margin-bottom: 100px;
    }     
    .digital-pad{
        padding-left: 20px;
        padding-bottom: 20px;
    }  
    .blue-stone{
        bottom: -100px;
    }
    .economic-section{
        padding-bottom: 140px;
    }    
    .icon{
        width: 24px;
        height: 24px;
    }
    .elfin-card{
        padding: 30px 42px 30px 24px;
    }    
    .elfin-gap{
        padding-bottom: 60px;
    }    
    .elfin-emoji-card{
        padding: 14px 12px 14px 24px;
    }    
    .comunity-gap{
        padding-bottom: 48px;
    }    
    .text-card{
        padding: 20px 8px 24px 0;
    }  
    .footer-top-section{
        padding: 18px 0;
    }    
    .copyright{
        padding: 10px 0;
    }   
    .footer-head{
        font-size: 16px;
    }   
    .footer-gap{
        gap:50px;
        padding-top: 30px;
    }    
    .tree-man{
        bottom: 0;
        max-width: 75%;
    }      
    .stone-ball{
        top: -30px;
    }       
    .ball-stone{
        top: -50px;
    }   
    .navbar-toggler{
        padding: 3px 9px;
    } 
    .group-emoji{
        width: 50%;
    }
}
@media(max-width:768px){
    .btn-wallet{
        padding:6px 16px;
    }
    .fs-6{
        font-size: 15px !important;
    }
    .nav-head{
        padding: 6px 30px;
    }   
    .navbar-nav{
        gap:30px;
    }
    .fs-1{
        font-size: 24px !important;
    }
    .mini-section{
        padding:60px 0;
    }    
    .mini-head{
        padding-bottom: 16px;
    }
    .mini-text{
        font-size: 15px;
        padding-bottom: 16px;
    }
    .explore-btn{
        font-size: 16px;
        padding: 8px 20px;
    }  
    .img-content{
        margin-top: 30px;
    }     
    .user-para{
        font-size: 16px;
    }
    .card-section{
        padding: 36px 0;
    }    
    .card{
        padding: 12px 8px;
    }    
    .card-title,.mini-card-head{
        font-size: 18px;
    }
    .gaming-section{
        padding-top: 80px;
        padding-bottom: 40px;
    }   
    .dragon{
        padding-left: 15px;
        padding-bottom: 15px;
    
    }
    .mini-card{
        gap: 14px;
        padding: 20px 15px;
    }     
    .ifo{
        padding: 70px 0;
        margin-bottom: 70px;    
    }     
    .market-section{
        padding-bottom: 60px;
    }
    .digital-section{
        padding: 15px 0;
        margin-bottom: 75px;
    }   
    .blue-stone{
        bottom: -30px;
    }      
    .economic-section{
        padding-bottom: 100px;
    }     
    .elfin-card{
        padding: 24px 36px 24px 18px;
    }    
    .elfin-gap{
        padding-bottom: 0px;
    }    
    .elfin-emoji-card{
        padding: 12px 10px 12px 18px;
    }    
    .comunity-gap{
        padding-bottom: 36px;
    }    
    .text-card{
        padding: 16px 6px 20px 0;
    }    
    .footer-top-section{
        padding: 16px 0;
    }    
    .footer-head{
        font-size: 15px;
    }      
    .footer-gap{
        gap:30px;
        padding-top: 24px;
    }         
    .tree-man{
        max-width:50%
    }      
    .ball-size{
        width: 30%;
    }    
    .emoji-size{
        width:40%;
    }
    .stone-ball {
        top: -20px;
    }
    .ball::before,.ball-stone-img::before,.stone-img::before,.blue-img::before{
        width: 50px;
        height: 50px;
        top: 0px;
        left: -10px;
    }
}
@media(max-width:576px){
    .btn-wallet{
        padding: 5px 12px;
    }
    .fs-6{
        font-size: 14px !important;
    }
    .nav-head{
        padding: 4px 20px;
    }    
    .navbar-nav{
        gap:20px;
    }
    .navbar-brand{
        width: 50%;
    }
    .bag-icon{
        width: 10px;
        height: 10px;
    }
    .fs-1{
        font-size: 20px !important;
    }
    .mini-section{
        padding:50px 0;
    }    
    .mini-head{
        padding-bottom: 12px;
    }
    .mini-text{
        font-size: 14px;
        padding-bottom: 12px;
    }
    .explore-btn{
        font-size: 14px;
        padding: 6px 18px;
    }    
    .img-content{
        margin-top: 20px;
        gap: 12px;
    }     
    .user-para{
        font-size: 15px;
    }
    .card-section{
        padding: 30px 0;
    }    
    .card-row{
        gap: 10px;
    }   
    .card{
        padding: 10px 6px;
    }     
    .card-title,.mini-card-head{
        font-size: 16px;
    }
    .gaming-section{
        padding-top: 60px;
        padding-bottom: 30px;
    }   
    .dragon{
        padding-left: 10px;
        padding-bottom: 10px;
    
    }
    .mini-card{
        gap: 10px;
        padding: 16px 10px;
    }      
    .ifo{
        padding: 50px 0;
        margin-bottom: 50px;    
    }    
    .market-section{
        padding-bottom: 40px;
    } 
    .digital-section{
        padding: 10px 0;
        margin-bottom: 50px;
    }   
    .economic-section{
        padding-bottom: 60px;
    }     
    .elfin-card{
        padding: 18px 30px 18px 12px;
    }    
    .elfin-emoji-card{
        padding: 10px 8px 10px 12px;
    }    
    .comunity-gap{
        padding-bottom: 24px;
    }    
    .text-card{
        padding: 12px 4px 16px 0;
    }   
    .footer-top-section{
        padding:14px 0;
    }     
    .footer-head{
        font-size: 14px;
    }    
    .footer-gap{
        gap:20px;
        padding-top: 18px;
    }            
    .ball-img{
        bottom: 0;
    }
    .emoji-size{
        width: 30%;
    }
}
@media(max-width:400px){
    .fs-1{
        font-size: 18px;
    }
}