*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Syne", sans-serif;
}
.nav-head{
    padding: 8px 75px;
    border-bottom: solid 1px #E5E5EA;
}
.dropdown-toggle::after{
    display: none;
}
.cobolt{
    color: #23273B;
}
.nav-text{
    color: rgba(35, 39, 59, 0.70);
    padding-bottom: 22px;
}
.dropdown-item{
    background-color:white;
}
.dropdown-item:hover{
    background-color: #F6D103;

}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -40px;
}
.nav-text:hover{
    color:  #23273B;
}
.navbar-nav{
    gap:107px;
}
.btn-wallet{
    gap: 10px;
    padding:8px 25px;
    background-color:  #F6D103;
    color:  #23273B;
}
.btn-wallet:hover,.explore-btn:hover{
    color: #F6D103;
    background-color: #23273B;
}
.bag-icon{
    width: 14px;
    height: 14px;
}
.nav-item.active::before{
    content: "";
    width: 110px;
    height: 4px;
    background-color: #F6D103;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    bottom: -26px;
    left: -22px;
}
.mini-section{
    padding:87px 0 86px 0;
    background-image: url(../images/gradient-bg.jpg);
    background-size:50% 100%;
    background-repeat: no-repeat;
}
.mini-head{
    letter-spacing: -1.2px;
    padding-bottom: 32px;
}
.mini-head-pad{
    padding-right: 20px;
}
.mini-group {
    position: absolute;
    top: -11px;
    right: 0px;
}
.group{
    height: 500px;
}
.group-doll{
    width: 100%;
    height: 500px;
    position: relative;
    z-index:3;
}
.group-doll::before{
    content:"";
    width: 100%;
    height: 500px;
    position: absolute;
    background-image: url(../images/img-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 64px;
    right: 0;
    z-index: -3;
}
.mini-text{
    color: rgba(35, 39, 59, 0.70);
    font-size: 18px;
    text-indent: 35px;
    padding-bottom: 32px;
}
.mini-text-pad{
    padding-right: 85px;
}
.explore-btn{
    font-size: 18px;
    color: #23273B;
    padding: 12px 25px;
    background-color: #F6D103;
}
.img-content{
    margin-top: 58px;
    gap: 19px;
}
.user-para{
    font-size: 20px;
    color: #2E2F3A;
}
.user-group{
    gap: 19px;
}
.card-section{
    background-color: #F0F5FF;
    padding: 54px 0;
}
.card{
    padding: 18px 14px;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.card-row{
    gap: 20px;
}
.card-title{
    color: #23273B;
    font-size: 28px;
    font-family: "Rubik", sans-serif;
}
.card-text{
    color: rgba(35, 39, 59, 0.70);
}
.gaming-section{
    padding-top: 150px;
    padding-bottom: 72px;
}

.game-head,.game-text{
    padding-right: 140px;
}
.mini-card{
    gap: 32px;
    padding: 32px 25px;
    background-color: #F7FAFF;
    border: 1px solid transparent;
}
.mini-card:hover{
    border: 1px solid #F6D103;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.mini-card-head{
    font-size: 22px;
    color: #23273B;
}
.mini-card-text{
    color: rgba(35, 39, 59, 0.70);
    line-height: 21px;
    padding-right: 10px;
}
.mini-card-text:hover{
    color:  rgba(35, 39, 59, 1);
}
.market-section{
    padding-bottom: 150px;
}
.platform-section{
    background: linear-gradient(180deg, #F0F5FF 0%, rgba(240, 245, 255, 0.45) 100%);
}
.ifo{
    padding: 150px 0;
    margin-bottom: 150px;
}
.ball-img{
    bottom: -100px;
}
.ball{
    width: 100%;
    height: 100%;
}
.stone-img{
    position: relative;
}
.stone-ball{
    top: -70px;
    right: 10%;
}
.digital-text{
    padding-right: 150px;
    text-indent: 0;
}
.digital-section{
    background: linear-gradient(180deg, #F0F5FF 0%, rgba(240, 245, 255, 0.45) 100%);
    padding: 27px 0;
    margin-bottom: 150px;
}
.digital-pad{
    padding-left: 150px;
}
.partner-head{
    padding-bottom: 68px;
}
.elfin-gap{
    gap: 12px;
    padding-bottom: 86px;
}
.white-btn{
    background-color: white;
    margin-right: 20px;
}
.white-btn:hover{
    background-color: #23273B;
    color: #F6D103;
}
.elfin-card{
    padding: 42px 53px 38px 32px;
    z-index: 1;
    background: linear-gradient(180deg, #F0F5FF 0%, rgba(240, 245, 255, 0.45) 100%);
    border: 1px solid #E5E5EA;
}
.elfin-card.active{
    background-image: url(https://s3-alpha-sig.figma.com/img/5aa4/8987/b63ca076db14c11285f309c4f375e3c0?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c2hc9RL9ePJ5w05xUcFTHVZUlJ9en3Ocq7Gks6qm6159bk-dor1OTKPGGYjknIR1TtWU2UrTG8zi8Es7pqoUrZ5n354Y804U61iapQeWUTxHO~v48CB9Jg45V-LtH9vZUL81vWlqFzfn00oyH7cB7bioM88wYrSR70FbO-CzrhrovCiulTW9SAhEYO12MscreY6tcZUmVnbmEtZNX1ro8G-ynrdV03ddn8Fb8Odgc3s952a0QZvFxXQs~X~J160Yyr1KlEw1g4PzXeMDqjX9bODxxN98vgrgB7OkhKEz~7vQJSfU-dhYRQn5BusTtQ3vzvEawi~WOxexwtpJDoMJ~Q__);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.elfin-card.active::before{
    content: "";
    background:linear-gradient(0deg, rgba(245, 208, 4, 0.75) 0%, rgba(245, 208, 4, 0.75) 100%); 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    border-radius: 16px;
}
.elfin-emoji-card{
    padding: 18px 16px 19px 32px;
}
.text-card{
    padding: 24px 10px 26px 0;
}
.comunity-gap{
    padding-bottom: 67px;
}
.economic-section{
    padding-bottom: 228px;
}
.footer-top-section{
    padding: 25px 0 23px 0;
}
.footer{
    background: linear-gradient(180deg, #F0F5FF 0%, rgba(240, 245, 255, 0.45) 100%);
}
.connect{
    padding-bottom: 42px;
}
.footer-head{
    color: #23273B;
    font-size: 18px;
    line-height: 24px;
}
.footer-gap{
    gap:100px;
    padding-top: 42px;
}
.copyright{
    padding: 14px 0;
}
.tree-man{
    top: -140px;
    max-width: 100%;
    position: absolute;
}
.ball-stone-img{
    position: relative;
}
.ball-stone{
    top: -150px;
}
.dragons{
    position: relative;
    z-index: 3;
}
.dragons::before{
    content: "";
    opacity: 0.75;
    filter: blur(60px);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: -100px;
    z-index: -3;
    background-image: url(../images/blur-bg.png);
    background-repeat: repeat;
    background-size: cover;
}
.ball::before{
    content: "";
    background-image: url(../images/ball-bg.png);
    background-repeat:repeat;
    background-size: cover;
    position: absolute;
    bottom: -28px;
    left: -19px;
    z-index: 1;
    width: 141px;
    height: 119px;
}
.stone-img::before{
    content: "";
    background-image: url(../images/ball-bg.png);
    background-repeat:repeat;
    background-size: cover;
    position: absolute;
    top: -28px;
    left: -18px;
    z-index: 1;
    width: 141px;
    height: 119px;
}
.ball-stone-img::before{
    content: "";
    background-image: url(../images/ball-bg.png);
    background-repeat:repeat;
    background-size: cover;
    position: absolute;
    top: -28px;
    left: -18px;
    z-index: 1;
    width: 141px;
    height: 119px;
}
.blue-img::before{
    content: "";
    background-image: url(../images/ball-bg.png);
    background-repeat:repeat;
    background-size: cover;
    position: absolute;
    top: -28px;
    left: -18px;
    z-index: 1;
    width: 141px;
    height: 119px;
}
.blue-img{
    position: relative;
}
.blue-stone{
    bottom: -100px;
}
.owl-item > div {
    cursor: pointer;
    filter:contrast(20%);
  }
  .owl-item.center > div {
    cursor: auto;
    filter: contrast(100%);
    transition: filter 0.4s ease;
  }
  .owl-stage{
    display: flex;
    align-items: center;
  }
  .icon{
    width: 32px;
    height: 32px;
  }
  .icon-path{
    fill: #23273B;
  }
  .icon-path:hover{
    fill: #F6D103;
  }
  .blue-bg{
    position: relative;
    z-index:3
  }
  .blue-bg::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 440.413px;
    background: rgba(188, 233, 239, 0.76);
    filter: blur(96.5px);
    right: 0;
    top: 0;
    z-index: -3;
  }